@import '~antd/dist/antd.dark.css';

.App {
  text-align: center;
  font-size: calc(1em + 1vw);
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(270deg, #1c1e21, #1c1e21);
  background-size: 400% 400%;

  -webkit-animation: BackgroundAnimation 10s ease infinite;
  -moz-animation: BackgroundAnimation 10s ease infinite;
  animation: BackgroundAnimation 10s ease infinite;

}

@-webkit-keyframes BackgroundAnimation {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@-moz-keyframes BackgroundAnimation {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@keyframes BackgroundAnimation {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
